
.sandbox-model-realestates-create .control-label {
    margin-bottom: 4px;
}

.sandbox-model-realestates-create .fileinput-button {
    margin-bottom: 10px;
}

.sandbox-model-realestates-create .files .filename {
    overflow: hidden;
}

.sandbox-model-realestates-create .files .info {
    margin-bottom: 2px;
}

.sandbox-model-realestates-create .files .thumbnail {
    text-align: center;
}

.sandbox-model-realestates-create .btn.next {
    margin-right: 5px;
}

.sandbox-model-realestates-create .remove-file {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #d9534f;
}
